<!-- https://github.com/jgthms/bulma/issues/218 -->
<!-- card: https://bulma.io/documentation/components/card/ -->
<!-- img: https://bulma.io/documentation/elements/image/ -->

<style>
  .card {
    background-color: #dbe9f4;
  }
  .bm--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .bm--card-equal-height .card-footer {
    margin-top: auto;
  }
  .card-footer {
    background-color: white;
  }
  .responsive {
    display: block;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: auto;
  }
</style>

<div class="columns is-multiline">
  {% for talk in site.data.content2021.talks %}
  <div class="column is-4-desktop is-6-tablet">
    <div class="card bm--card-equal-height" id="{{ talk.linkname }}">
      <!-- Upper part of card -->
      <div class="card-content">
        <div class="media">
          <!-- Image(s) -->
          {% if talk.image %} {% for image in talk.image %}
          <div class="media-left">
            <!--<figure>--><img
              src="../../img/speakers/{{ image }}"
              alt="{{ talk.name }}"
              style="
                border: 2px solid #004777;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
              "
              class="responsive"
            /><!--</figure>-->
          </div>
          {% endfor %} {% endif %}

          <!-- Name(s) of speaker(s) -->
          <div class="media-content">
            <p class="title is-4" style="color: #004777">{{ talk.name }}</p>
          </div>
        </div>

        <!-- Title of talk -->
        <div class="content"><p class="subtitle is-4">{{ talk.title }}</p></div>
        <div class="content">
          <details>
            <summary>Description</summary>
            {{ talk.description }}
          </details>
        </div>
      </div>

      <!-- Footer -->
      <footer class="card-footer">
        {% if talk.materials %} {% for item in talk.materials%}<a
          href="{{ item }}"
          class="card-footer-item"
          target="_blank"
          >Materials</a
        >{% endfor %}
        <!-- Maybe call this slides -->
        {% endif %} {% if talk.video %} {% for item in talk.video %}<a
          href="{{ item }}"
          class="card-footer-item"
          target="_blank"
          >Video</a
        >{% endfor %} {% endif %} {% if talk.repo %} {% for item in talk.repo
        %}<a href="{{ item }}" class="card-footer-item" target="_blank"
          >Repo</a
        >{% endfor %} {% endif %}
      </footer>
    </div>
  </div>
  {% endfor %}
</div>