<html>
  <body>
    <section>
      <div class="container is-fluid">
        <h2 class="title" style="color: #004777">Working behind the scenes!</h2>
        {% for team in include.this_year_team %}
        <h3 class="title" style="color: #004777">{{ team.section }}</h3>

        <div class="tile is-ancestor person">
          <!-- two columns -->
          {% for loop in (0..1) %}
          <div class="tile is-vertical is-parent">
            <!-- https://gist.github.com/JJediny/a466eed62cee30ad45e2 -->
            <!-- limit (tiles per column) and offset (start column with that nr) are hardcoded => to improve -->
            <!-- hardcode lim (> limit) -->
            {% if team.section == "Organizing committee" %}{% assign lim = '4'
            %}{% elsif team.section == "Advisors" %} {% assign lim = '2' %}{%
            endif %}
            <!-- hardcode nr (> offset) -->
            {% if loop == 0 %}{% assign nr = '0' %}{% elsif loop == 1 and
            team.section == "Organizing committee" %}{% assign nr = '4' %}{%
            elsif loop == 1 and team.section == "Advisors" %}{% assign nr = '2'
            %}{% endif %}
            <!-- start for loop -->
            {% for teamMember in team.members limit: lim offset: nr %}
            <div class="tile is-child box">
              <div class="tile is-child">
                <!-- <a name=teamMember.linkName></a> -->
                {% include speaker-card.html data=teamMember%}
              </div>

              <div class="tile is-child">
                <button class="accordion">
                  <i class="fas fa-id-card"></i>
                  &nbsp;&nbsp;Bio
                </button>

                <div class="panel">
                  <p>{{ teamMember.bio }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>

        <img
          class="img-separator"
          src="{{ site.baseurl }}/assets/ext_images/2020/post_separator.png"
          alt="horizontal separator"
        /><br />
        <a href="#"
          ><i
            class="fas fa-arrow-alt-circle-up"
            style="
              position: relative;
              top: -3px;
              text-indent: 0px;
              vertical-align: middle;
              color: #004777;
            "
          ></i>
        </a>
        <br /><br />
        {% endfor %}
      </div>
    </section>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
